body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: beige;
    font-family: "Crimson Text", "Times", "Times New Roman", "Georgia", serif;
}
.black_background {
    background-color: black;
}
footer {
    margin-top: auto;
}

.beige_text
{
    color: beige;
}

.fade_to_black
{
    background-image: linear-gradient(transparent, black);
    width: 100%;
}

.fade_from_black
{
    background-image: linear-gradient(transparent, black);
    width: 100%;
}

#main_page_buffer_1
{
    height: 100px;
    margin-top: 100px;
}

@media (min-width:801px) {
    .home_content {
        background-color: black;
        background-image: url("/images/mushroom.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-attachment: fixed;
        background-position: 0px -30px;
    }
}
@media (max-width: 800px) {
    .home_content {
        background-color: black;
        background-image: url("/images/mushroomflip.png");
        background-repeat: no-repeat;
        background-size: 1000px;
        background-attachment: fixed;
        background-position: -200px -30px;
    }
    .hide_from_mobile
    {
        display: none;
    }
}

p
{
    font-size: 20px;
}

.main_color
{
    background-color: darkgreen;
}

.kobold_red
{
    background-color: #6F3329;
}

@media (min-width:801px) {

    .main_menu {
        display: flex;
    }

    .main_menu li a {
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 5px;
        padding-bottom: 8px;
        margin: 10px;
    }
}

.main_menu {
    text-decoration: none;
    list-style-type: none;
}

.main_menu a:link
{
    text-decoration: none;
    color: beige;
}

.main_menu a:visited
{
    text-decoration: none;
    color: beige;
}

.main_menu a:hover
{
    text-decoration: underline;
    color: beige;
}

.main_menu .active a:link
{
    text-decoration: underline;
    pointer-events: none;
    cursor: default;
}

.force_red_underline
{
    text-decoration-color: #6F3329 !important;
    text-underline-offset: 5px !important;
    text-decoration-thickness: 5px !important;
}

.footer_menu
{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer_menu a:link
{
    text-decoration: none;
    color: beige;
}

.footer_menu a:visited
{
    text-decoration: none;
    color: beige;
}

.footer_menu a:hover
{
    text-decoration: underline;
    color: beige;
}

#book_bugs
{

}

.book_large
{
    background-repeat: no-repeat;
}

.book_large .book_title
{
    padding-top: 10px;
    padding-left: 70px;
    font-size: 45px;
}

.book_large .book_author
{
    padding-top: 430px;
    padding-left: 99px;
    font-size: 29px;
}

.book_title
{
    position: absolute;
    color: white;
}
.book_author
{
    position: absolute;
    color: white;
}

#main_header
{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

#main_footer
{
    bottom: 0px;
    width: 100%;
}

#main_name_block
{
    margin-top: 80px;
}

#main_bottom_section
{
    background-color: #121112;
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 30px;
}

#art_credit
{
    text-align: center;
    width: 100%;
    margin-top: 45px;
    font-size: 13px;
}
